@{
    Layout = "_Layout";
}
@model IEnumerable<EventModel>
@using Microsoft.AspNetCore.Identity
@using BookReadEvent.Models.AccountModel
@inject SignInManager<ApplicationUser> signin


<div class="container">
    <h4 class="text-success display-4">
        My Invitations!!
    </h4>
    <div class="row">

        <div class="col-md-6 text-danger">
            Missed Events
        </div>
        <div class="col-md-6 text-success">
            Upcoming Events
        </div>
        <hr style="height:2px; width:80%; border-width:0; color:black; background-color:black" />
        <div class="col-md-6">

            @foreach (var item in Model)
            {
                if (item.date < DateTime.UtcNow && item.invite.Split(',').Contains(User.Identity.Name))
                {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@item.location</h6>
                            <p class="card-text">@item.description</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@item.eventType  </h6>
                            <a href="/Book/eventdetail/@item.Id" class="card-link">View Details</a>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-6">

            @foreach (var item in Model)
            {
                if (item.date >= DateTime.UtcNow && item.invite.Split(',').Contains(User.Identity.Name))
                {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@item.location</h6>
                            <p class="card-text">@item.description</p>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@item.eventType  </h6>
                            <a href="/Book/eventdetail/@item.Id" class="card-link">View Details</a>
                        </div>
                    </div>
                }
            }
        </div>

    </div>

</div>
